[user]
	name = Tushar Khan
	email = tushar.54k@gmail.com
[init]
	defaultBranch = main
[pull]
	rebase = true
[alias]
	l = log --pretty='%C(yellow)%h%C(auto)%d %C(reset)%s %C(cyan)(%cd)%C(dim white) - %an%C(reset)' --graph --date=relative --date-order
